h1{
    color: rgb(167, 88, 252);
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(41, 41, 41);
    color: white; 
}

p{
    font-size: 25px;
}

.main-text{
    font-size: 35px;
    color: rgb(255, 171, 255);
}
